@using System.Globalization
@using Microsoft.Extensions.Logging
@using Zs.Common.Extensions
@using Zs.Home.ClientApp.Common
@using Zs.Home.ClientApp.Pages.Dashboard.Weather
@namespace Zs.Home.ClientApp.Pages.Dashboard
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject ILogger<AnalogParameter> Logger;

@model Zs.Home.ClientApp.Pages.Dashboard.Weather.AnalogParameter

@{
    var nameToImageMap = new Dictionary<string, string>
    {
        ["Temperature"] = "thermometer.png",
        ["Humidity"] = "humidity.png",
        ["Pressure"] = "pressure.png",
        ["Co2"] = "co2.png"
    };

    var statusToClassMap = new Dictionary<Status, string>
    {
        [Status.Normal] = "bg-success",
        [Status.WarningLo] = "bg-warning",
        [Status.WarningHi] = "bg-warning",
        [Status.DangerLoLo] = "bg-danger",
        [Status.DangerHiHi] = "bg-danger"
    };

    var statusToColorMap = new Dictionary<Status, string>
    {
        [Status.Normal] = "green",
        [Status.WarningLo] = "orange",
        [Status.WarningHi] = "orange",
        [Status.DangerLoLo] = "red",
        [Status.DangerHiHi] = "red"
    };

    var forecastToDynamicArrowColorMap = new Dictionary<Forecast, string>
    {
        [Forecast.Normal] = "gray",
        [Forecast.Good] = "green",
        [Forecast.Warning] = "red",
        [Forecast.Danger] = "red"
    };

    var minScaleValue = Math.Floor((Model.LoLo ?? 0) - ((Model.Lo ?? 0) - (Model.LoLo ?? 0)));
    var maxScaleValue = Math.Ceiling((Model.HiHi ?? 0) + ((Model.HiHi ?? 0) - (Model.Hi ?? 0)));
    var scaleSize = maxScaleValue - minScaleValue;
    var parameterValueOnScale = Model.CurrentValue - minScaleValue;
    var parameterValueOnProgress = parameterValueOnScale / scaleSize * 100;

    var chartStartAt = (DateTime.UtcNow - Model.ValueLog.Keys.Min()).ToTimeAgo();
    var chartEndAt = (DateTime.UtcNow - Model.ValueLog.Keys.Max()).ToTimeAgo();
    var minValue = Model.ValueLog.Values.Min(v => v.Value);
    var maxValue = Model.ValueLog.Values.Max(v => v.Value);
    var avgValue = Model.ValueLog.Values.Average(v => v.Value);

    void RenderDynamicArrowIcon()
    {
        string arrowPath = null!;
        string topLineColor = null!;
        string bottomLineColor = null!;
        var kDynamic = Model.Dynamic switch
        {
            Dynamic.Positive when Model.Status is not (Status.Normal or Status.DangerHiHi) => +1,
            Dynamic.Negative when Model.Status is not (Status.Normal or Status.DangerLoLo) => -1,
            _ => 0
        };

        switch (Model.Dynamic)
        {
            case Dynamic.Negative:
                arrowPath = "M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0z";
                topLineColor = statusToColorMap[Model.Status];
                bottomLineColor = statusToColorMap[Model.Status + kDynamic];
                break;
            case Dynamic.Positive:
                arrowPath = "M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z";
                topLineColor = statusToColorMap[Model.Status + kDynamic];
                bottomLineColor = statusToColorMap[Model.Status];
                break;
        }

        <svg class="bi-arrow-down-right"
             width="16" height="16"
             viewBox="0 0 16 16">

            <svg y="0">
                <line stroke="@topLineColor" x1="1.5" y1="1" x2="12" y2="1" stroke-width="2" stroke-linecap="round" />
            </svg>
            @if (Model.Dynamic is not Dynamic.Stable)
            {
                <svg y="3">
                    <path d="@arrowPath"
                          transform="translate(0, -0.5) scale(0.7)"
                          stroke-width="0.8"
                          fill="@forecastToDynamicArrowColorMap[Model.Forecast]"
                          stroke="@forecastToDynamicArrowColorMap[Model.Forecast]" />
                </svg>
            }
            <svg y="14">
                <line stroke="@bottomLineColor" x1="1.5" y1="1" x2="12" y2="1" stroke-width="2" stroke-linecap="round" />
            </svg>
        </svg>
    }

    Logger.LogDebugIfNeed($"{Model.Name}: [ ..., {string.Join(", ", Model.ValueLog.Values.Take(5).Reverse().Select(i => i.Value.ToString(CultureInfo.InvariantCulture)))} ]," +
                          $" status=\"{Model.Status}\"," +
                          $" dynamic=\"{Model.Dynamic}\"," +
                          $" forecast=\"{Model.Forecast}\"," +
                          $" LL={Model.LoLo}, L={Model.Lo}, H={Model.Hi}, HH={Model.HiHi}");

    // static double GetSignificantDifferenceInConsecutiveValues()
    // {
    //     // TODO: Выявление значительной разницы между Элементами по Y, которая потребует добавления промежуточных точек
    //     //       С учётом высоты 16 px
    // }

    static string ToStrDouble(double value) => string.Create(CultureInfo.InvariantCulture, $"{value:F1}");
}

<div class="row card indicator mt-1 ms-1 me-1 p-0">
    <div class="progress p-0">
        <img class="icon" src="@nameToImageMap[Model.Name]" alt="@Model.Name[..2]" >

        @* Примерно 0.2 от прогрессбара занимает иконка и стрелка по краям *@
        <div class="progress-bar @statusToClassMap[Model.Status]" role="progressbar"
             style="width: @Math.Round(parameterValueOnScale / scaleSize * 100 * 0.8, 0)%"
             aria-valuenow="@Math.Round(parameterValueOnProgress, 1).ToString(CultureInfo.InvariantCulture)"
             aria-valuemin="0" aria-valuemax="100">
            @Model.CurrentValue&nbsp;@Model.Unit
        </div>

        @{
            RenderDynamicArrowIcon();

            var vbHeight = 16; // 16 = 1rem
            var vbWidth = Model.ValueLog.Count;
            var kY = vbHeight / (maxValue - minValue);
            var offset = kY * minValue;


            // var repairedValueLog = new List<KeyValuePair<DateTime, LogValue>>(Model.ValueLog.Count + 20);
            var repairedValueLog = Model.ValueLog.OrderBy(x => x.Key).ToList();

            var i = 1;
            while (i < repairedValueLog.Count)
            {
                var prevY = repairedValueLog[i - 1].Value.Value;
                var curY = repairedValueLog[i].Value.Value;
                var additionalPointsCount = (int)Math.Abs(prevY - curY) - 1;

                if (additionalPointsCount > 1)
                {
                    var prevDate = repairedValueLog[i-1].Key;
                    var curDate = repairedValueLog[i].Key;
                    var secondsShift = (curDate - prevDate).TotalSeconds / (additionalPointsCount + 1);
                    var nextTimeShift = secondsShift;
                    foreach (var index in Enumerable.Range(i, additionalPointsCount))
                    {
                        var date = prevDate.AddSeconds(nextTimeShift);
                        var value = prevY > curY ? --prevY : ++prevY;
                        var status = Model.CalculateStatus(value);
                        var kvp = new KeyValuePair<DateTime, LogValue>(date, new LogValue(value, status, IsBasic: false));
                        repairedValueLog.Insert(index, kvp);
                        nextTimeShift += secondsShift;
                    }
                }
                i++;
            }

            var pointsWithColor = repairedValueLog
                .Where(kvp => kvp.Value.IsBasic)
                .OrderBy(kvp => kvp.Key)
                .Select((kvp, index) => new
                {
                    X = (double)index,
                    Y = Math.Round(kvp.Value.Value * kY - offset, 2),
                    Color = statusToColorMap[kvp.Value.Status],
                    Date = kvp.Key,
                    IsBasic = true
                })
                .Union(repairedValueLog
                    .Where(kvp => !kvp.Value.IsBasic)
                    .Select(kvp => new
                        {
                            X = double.NaN,
                            Y = Math.Round(kvp.Value.Value * kY - offset, 2),
                            Color = statusToColorMap[kvp.Value.Status],
                            Date = kvp.Key,
                            IsBasic = false
                        }
                    ))
                .OrderBy(p => p.Date)
                .ToArray();
        }
    </div>

    <div class="row chart-wrapper">
        <div class="chart-text">@chartStartAt</div>
        <svg class="chart chart-line" viewBox="0 -1 @(vbWidth - 1) @(vbHeight + 2)" preserveAspectRatio="none">
            @{
                var additionalPointSeqNumber = 0;

                for (i = 0; i < pointsWithColor.Length; i++)
                {
                    var curPoint = pointsWithColor[i];
                    if (curPoint.IsBasic)
                    {
                        <circle cx="@curPoint.X" cy="@ToStrDouble(curPoint.Y)" r="0.7" fill="@curPoint.Color"/>
                        additionalPointSeqNumber = 0;
                    }
                    else
                    {
                        var prevBasicX = double.NaN;
                        var basicStepLength = double.NaN;
                        var additionalPointsCount = -1;

                        if (additionalPointSeqNumber++ == 0)
                        {
                            var prevBasicPointIndex = i-1;
                            var nextBasicPointIndex = Array.IndexOf(pointsWithColor, pointsWithColor.Skip(i).First(p => p.IsBasic));
                            prevBasicX = pointsWithColor[prevBasicPointIndex].X;
                            var nextBasicX = pointsWithColor[nextBasicPointIndex].X;
                            basicStepLength = nextBasicX - prevBasicX;
                            additionalPointsCount = nextBasicPointIndex - prevBasicPointIndex - 1;
                        }

                        var additionalX = Math.Round(prevBasicX + basicStepLength / additionalPointsCount * additionalPointSeqNumber, 2);
                        <circle cx="@ToStrDouble(additionalX)" cy="@ToStrDouble(curPoint.Y)" r="0.7" fill="@curPoint.Color"/>
                    }
                }
                @* foreach (var point in pointsWithColor) *@
                @* { *@
                @*     <circle cx="@point.X" cy="@ToStrDouble(point.Y)" r="0.7" fill="@point.Color"/> *@
                @* } *@
            }
        </svg>
        <div class="chart-text">@chartEndAt</div>
    </div>
    <div class="row chart-wrapper" style="background: #e9ecef; height: 12px; ; border-bottom-left-radius:5px; border-bottom-right-radius:5px" >
        <p style="font-size: 8px; color: #656565">@($"Min: {minValue:0.0}; Avg: {avgValue:0.0}; Max: {maxValue:0.0}")</p>
    </div>
</div>
