@using System.Globalization
@namespace Zs.Home.ClientApp.Pages.Dashboard
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model AnalogParameter
@{
    var nameToImageMap = new Dictionary<string, string>
    {
        ["Temperature"] = "thermometer.png",
        ["Humidity"] = "humidity.png",
        ["Pressure"] = "pressure.png",
        ["Co2"] = "co2.png"
    };

    var statusToClassMap = new Dictionary<Status, string>
    {
        [Status.Ok] = "bg-success",
        [Status.Warning] = "bg-warning",
        [Status.Danger] = "bg-danger"
    };

    var dynamicToColorMap = new Dictionary<Forecast, string>
    {
        [Forecast.Normal] = "gray",
        [Forecast.Good] = "green",
        [Forecast.Warning] = "red",
        [Forecast.Danger] = "red"
    };

    var minScaleValue = Math.Floor((Model.LoLo ?? 0) - ((Model.Lo ?? 0) - (Model.LoLo ?? 0)));
    var maxScaleValue = Math.Ceiling((Model.HiHi ?? 0) + ((Model.HiHi ?? 0) - (Model.Hi ?? 0)));
    var scaleSize = maxScaleValue - minScaleValue;
    var parameterValueOnScale = Model.CurrentValue - minScaleValue;
    var parameterValueOnProgress = parameterValueOnScale / scaleSize * 100;

    var chartStartDate = $"{Model.ValueLog.OrderBy(kvp => kvp.Key).First().Key.ToLocalTime():dd.MM HH:mm}";
    var chartForHours = Math.Round((DateTime.UtcNow - Model.ValueLog.OrderBy(kvp => kvp.Key).First().Key).TotalHours);

    void RenderDynamicArrow()
    {
        var arrowPath = (Model.CurrentValue - Model.PreviousValue) switch
        {
            > 0 => "M14 2.5a.5.5 0 0 0-.5-.5h-6a.5.5 0 0 0 0 1h4.793L2.146 13.146a.5.5 0 0 0 .708.708L13 3.707V8.5a.5.5 0 0 0 1 0z",
            < 0 => "M14 13.5a.5.5 0 0 1-.5.5h-6a.5.5 0 0 1 0-1h4.793L2.146 2.854a.5.5 0 1 1 .708-.708L13 12.293V7.5a.5.5 0 0 1 1 0z",
            _ => null
        };

        if (arrowPath == null)
            return;

        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
             fill="@dynamicToColorMap[Model.Forecast]"
             class="bi bi-arrow-down-right" viewBox="0 0 16 16">
            <path d="@arrowPath"
                  stroke-width="0.8" stroke="@dynamicToColorMap[Model.Forecast]"/>
        </svg>
    }
}

<div class="row card indicator mt-1 ms-1 me-1 p-0">
    <div class="progress p-0">
        <img src="@nameToImageMap[Model.Name]" alt="@Model.Name" style="padding-top: 0.10rem; padding-bottom: 0.10rem; padding-right: 0.25rem; padding-left: 0.25rem;">

        @* Примерно 0.2 от прогрессбара занимает иконка и стрелка *@
        <div class="progress-bar @statusToClassMap[Model.Status]" role="progressbar"
             style="width: @Math.Round(parameterValueOnScale / scaleSize * 100 * 0.8, 0)%"
             aria-valuenow="@Math.Round(parameterValueOnProgress, 1).ToString(CultureInfo.InvariantCulture)"
             aria-valuemin="0" aria-valuemax="100">
            @Model.CurrentValue&nbsp;@Model.Unit
        </div>

        @{
            RenderDynamicArrow();

            /* Дано:
             *   X   Y         Диапазон возможных значений на графике: от 0 до 16
             *   0   31        min(Y) = 31 => 0
             *   1   45        max(Y) = 65 => 16
             *   3   65
             *   4   47        65 - 31 = 34   - диапазон фактических значений
             *                 16 / 34 = 0.47 - коэффициент, на который надо умножить фактические значения
             *
             *                                               Значения
             *   X   Y                                      на графике
             *   0   31 * 0.47 = 14.57     - 14.57   =>         0
             *   1   45 * 0.47 = 21.15     - 14.57   =>         6.58
             *   3   65 * 0.47 = 30.55     - 14.57   =>        15.98
             *   4   47 * 0.47 = 22.09     - 14.57   =>         7.52
             */

            var vbHeight = 14; // 16 = 1rem
            var vbWidth = Model.ValueLog.Count;
            var min = Model.ValueLog.Values.Min();
            var max = Model.ValueLog.Values.Max();
            var kX = 1;
            var kY = vbHeight / (max - min);
            var offset = kY * min;

            var points = Model.ValueLog.Values
                .Select(v => v * kY - offset)
                .Select((value, index) => string.Create(CultureInfo.GetCultureInfo("en-US"),  $"{index*kX}, {value:F1}"));

            var (lolo, lo, hi, hihi) = ((int)Model.LoLo, (int)Model.Lo, (int)Model.Hi, (int)Model.HiHi);
            var scaleLength70pct = (Model.HiHi - Model.LoLo) / 70 * 100; // Между LoLo и HiHi 70% шкалы.
            var scaleLength15pct = scaleLength70pct * 0.3 / 2; // На красные линии выделяем 30% (по 15%)
            var scaleMinValue = (int)(lolo - scaleLength15pct);
            var scaleMaxValue = (int)(hihi + scaleLength15pct);
            var strokeWidth = 1;

        }

    </div>

    @* <div class="container" style="height:5px"> *@
    @*     <div class="row"> *@
    @*         <div class="col-auto" style="width:15%; background:red">qwe</div> *@
    @*         <div class="col-auto" style="width:15%; background:orange">qwe</div> *@
    @*         <div class="col-auto" style="width:40%; background:limegreen">qwe</div> *@
    @*         <div class="col-auto" style="width:15%; background:orange">qwe</div> *@
    @*         <div class="col-auto" style="width:15%; background:red">qwe</div> *@
    @*     </div> *@
    @* </div> *@

    @* <svg viewBox="@scaleMinValue 0 @scaleMaxValue 3" preserveAspectRatio="none"> *@
    @*     <line x1="@scaleMinValue" y1="1" x2="@lolo"          y2="1" stroke="red"    stroke-width="3" /> *@
    @*     <line x1="@lolo"          y1="1" x2="@lo"            y2="1" stroke="orange" stroke-width="3" /> *@
    @*     <line x1="@lo"            y1="1" x2="@hi"            y2="1" stroke="green"  stroke-width="3" /> *@
    @*     <line x1="@hi"            y1="1" x2="@hihi"          y2="1" stroke="orange" stroke-width="3" /> *@
    @*     <line x1="@hihi"          y1="1" x2="@scaleMaxValue" y2="1" stroke="red"    stroke-width="3" /> *@
    @*     $1$ <circle r="5" cx="@Model.CurrentValue" cy="2" fill="black" stroke-width="1" vector-effect="non-scaling-stroke" /> #1# *@
    @* </svg> *@


    <div class="row chart-wrapper">
        <svg class="chart chart-line" viewBox="0 0 @vbWidth @vbHeight" preserveAspectRatio="none" >
            <polyline fill="none" stroke="#0000FF" stroke-width="1"
                      vector-effect="non-scaling-stroke"
                      points="@string.Join(Environment.NewLine, points)"/>
        </svg>

        <p class="chart-text">@chartStartDate</p>
    </div>
</div>
